.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 100dvw;
  max-height: 100dvh;
  width: 100dvw;
  height: 100dvh;

  background-color: var(--background-color);
  font-family: monospace;
}